body {
  background: #E5E5E5;
  margin: 0;
  padding: 0;
}

.close-icon {
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  background: url(images/close.svg);
  background-size: 10px 10px;
}

*:focus {
  outline: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
