.reservation-menu {
  margin-left: 8px;
}

.drop-down {
  cursor: pointer;
  height: 6.43px;
  width: 10px;
}

.menu-container {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2;

  background: #f8fafb;
  border: 1.5px solid #e8ecf2;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.menu-item {
  cursor: pointer;
  padding: 8px 12px;
  list-style-type: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;

  color: #cb1f1f;
}
