.header {
  display: flex;
  padding-left: 42px;
  padding-top: 17px;
  padding-bottom: 17px;
  background: #F3F5F8;
  /* margin-bottom: 50px; */
}

.header h3 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  color: #3751ff;
}
