.dashboard-header {
  background: #ffffff;
  display: flex;
  justify-content: space-evenly;
}

.dashboard-header div {
  flex: 0 0 50%;
  height: auto;
  padding: 24px 0px;
}

.dashboard-header button {
  margin-right: 24px;
  float: right;
}

.dashboard-header span {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  padding-top: 28px;
  padding-bottom: 28px;
  color: #000000;
}
